body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #0a0a0a;
  background-image: url('img/bg80.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  color: #fff;
  font-family: Calibri;
  font-size: 13pt;
  line-height: 1.4;
  text-align: center;
}

.tab {
  display: inline-block;
  width: inherit;
  margin-top: 65px;
  margin-right: 5px;
  padding: 2px 25px 2px 25px;
  border: 3px solid #52525290;
  border-radius: 5px;
  background-color: #2222229d;
  color: #ffffffa4;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000;
  box-shadow: none;
  transition: all 0.3s linear;
  cursor: pointer;
}

.tab:hover {
  border: 3px solid #ffffff88;
  border-radius: 6px;
  background-color: #222222da;
  color: #fff;
}

.tab.active {
  border: 3px solid #FF6B00;
  border-radius: 10px;
  background-color: #222;
  color: white;
}

.tab-content {
  display: none;
  width: 100%;
  height: 0;
  margin-top: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s linear;
}

.tab-content.active {
  display: block;
  height: auto;
  margin-bottom:10px;
  opacity: 1;
}

.h1,
.h2,
.h3 {
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
}

.h1 {
  color: #00CAFF;
  font-size: 30pt;
}

.h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  border-bottom: 3px solid #88888869;
  border-radius: 3px;
  background-color: transparent;
  color: #FF6B00;
  font-size: 18.5pt;
  box-shadow: -3px 3px 3px #00000069;
}

.h3 {
  color: #FF6B00;
  font-size: 15pt;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: #0a0a0a;
  color: inherit;
  text-align: center;
  box-shadow: 0 12px 10px #0a0a0a;
  z-index: 1000;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  background-color: #0a0a0a;
  color: #00caff;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
  vertical-align: middle;
  box-shadow: 0 -12px 10px #0a0a0a;
  z-index: 1000;
}

a {
  padding: 1px 5px;
  border-radius: 3px;
  background-color: #00ccff69;
  color: #9fecff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  line-break: strict;
  transition: all 0.3s linear;
}

a:hover {
  background-color: #353535c6;
  color: #00ccff;
}

.active-link {
  color: blue !important;
  font-weight: bold !important;
}

.table-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: top;
  padding-top: 15px;
}

.table-form td {
  width: 15%;
  padding: 0;
  border-radius: 10px;
  background-color: #0000007d;
  box-shadow: 0 0 3px 3px #000000;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.table-bs {
  width: 30%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  text-wrap: balance;
}

.table-wide {
  width: 40%;
  padding-left: 10px;
  text-align: center;
  vertical-align: top;
  line-height: 1.5;
  text-wrap: balance;
}

.tableCurfewWrapper {
  border-radius:5px;
  overflow:hidden;
  width:75%;
}
.tableCurfew {
  border-collapse:collapse;
  border-radius:5px !important;
  width:100%;
}
.tableCurfew td {
  border:3px solid #FF6B00;
  border-radius:5px !important;
  padding:3px;
}
.tableCurfew td.center {
  text-align:center;
}

.p {
  margin: 0 3px 10px 3px;
  padding: 0 10px 10px 10px;
  border: 3px solid #00caff;
  border-radius: 8px;
  background-color: #222222d7;
  box-shadow: inset 0 0 25px 10px #000;
}

.indent {
  margin-left: 20px;
}

.convert {
  height: 25px;
  text-align: center;
}

.div-left {
  float: left;
  width: 48%;
  padding-right: 10px;
  text-align: right;
}

.div-right {
  float: right;
  width: 48%;
  padding-left: 10px;
  text-align: left;
}

.warning {
  padding: 1px 5px;
  border-radius: 3px;
  background-color: #ff8400;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
}

.bold {
  font-weight: bold;
}

.bold-ds {
  color: red;
  font-weight: bold !important;
  font-size: 12pt;
}

.small {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font-size: 10pt;
}

.fine,
.info,
.charge {
  margin-left: 10px;
  padding: 1px 5px;
  border-radius: 3px;
  background-color: transparent;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  z-index: 0;
}

.charge {
  background-color: #cb3d3d;
}

.fine {
  background-color: #FF8400;
}

.info {
  background-color: #99999969;
}

hr.hr1 {
  float: left;
  width: 85%;
  margin: 15px 0 5px 0;
  margin-right: 15%;
  border: none;
  border-top: 3pt solid #FF6B00;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
  line-break: strict;
}

hr.hr2,
hr.hr3 {
  display: block !important;
  clear: both;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1.0);
  line-break: strict;
}

hr.hr2 {
  float:left;
  width:65%;
  margin-right:35%;
  border-top: 2pt solid #333;
}

hr.hr3 {
  float: left;
  width: 75%;
  margin-right: 25%;
  border-top: 2pt solid #FF6B00;
}

hr.bottom {
  width: 80% !important;
  margin: 15px 10% !important;
  border: none;
  border-top: 3pt solid #00caff;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1.0);
}

ul {
  margin: 0;
}

#VIN {
  width: 35% !important;
  padding: 5px;
}

.pdfViewer {
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.mapLinks {
  width:30%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  text-wrap: balance;
}
.mapIframe {
  width:70%;
  vertical-align:top !important;
}
#pdfViewer {
  width:100%;
  height:650px;
  border-radius:5px;
}
/*
a[href^="http"]:after{ 
    content:"\2197";
}
*/

input {
  width: 45px !important;
  margin-bottom: 8px;
  padding: 3px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: transparent;
  color: #555;
  font-size: 12pt;
  text-align: center;
  transition: all 0.3s linear;
}

input[type="text"]:invalid {
  background-color: #000;
  color: #FFF;
}

input[type="text"]:focus {
  background-color: #333;
  color: #fff;
  border-color: #00caff;
}

input[type="text"]:valid {
  border-color: #00caff;
  background-color: #20202069;
  color: #FFF;
}

::placeholder {
  color: #555;
}

input:focus::placeholder {
  color: #555;
}

.location {
  width: 200px !important;
}

.button {
  display: inline-block;
  width: inherit !important;
  margin-top: 10px;
  padding: 4.5px;
  border: 3px solid #00caff !important;
  border-radius: 5px;
  background-color: #00ccff69;
  color: #FFF;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000;
  transition: all 0.3s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #66666669 !important;
  color: #00ccff;
}

.button:focus {
  background-color: #111 !important;
}

.clearButton {
  display: inline-block;
  width: inherit !important;
  margin-top: 10px;
  margin-left: 5px;
  padding: 4.5px;
  border: 3px solid #cb3d3d !important;
  border-radius: 5px;
  background-color: #66666669;
  color: #cb3d3d;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000;
  transition: all 0.3s linear;
  cursor: pointer;
}

.clearButton:hover {
  background-color: #111;
}

input:hover,
select:hover {
  border: 2px solid #FF6B00 !important;
}

select {
  width: 110px;
  margin-bottom: 8px;
  padding: 0;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #000;
  color: #555;
  font-size: 12pt;
  text-align: center;
  transition: all 0.3s linear;
}

textarea {
  width: 98%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #00000000;
  color: #FFF;
  font-family: Calibri;
  font-size: 12pt;
  line-height: normal;
  white-space: normal;
  overflow: hidden;
  resize: none;
  user-select: none;
  field-sizing: content;
}

textarea:focus {
  border: none;
}

#copy-container {
  display: flex;
}

#r-copied,
#l-copied {
  display: none;
  position: fixed;
  top: 2%;
  left: 5%;
  padding: 5px 18px;
  border-radius: 5px;
  background-color: #00bd00;
  color: inherit;
  font-weight: bold;
  text-shadow: 3px 3px 5px #000;
  opacity: 0;
  box-shadow: 0 0 12px #00BD00;
  transition: opacity 0.5s;
  z-index: 1001;
  justify-content: center;
  align-items: center;
}